---
# {{ ansible_managed }}
version: '3.1'

volumes:
  prometheus_data: {}
  grafana_data: {}

networks:
  front-tier:
    external: true
  back-tier:
    external: true

services:
  prometheus:
    image: "{{ monitoring_prometheus_image }}"
    volumes:
      - "{{ monitoring_config_prometheus_dir }}:/etc/prometheus/:ro"
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.enable-lifecycle'
{% if monitoring_prometheus_external_url is defined %}
      - '--web.external-url={{ monitoring_prometheus_external_url }}'
{% endif %}
    ports:
      - "{{ monitoring_listen_address }}:9090:9090"
        #- 127.0.0.1:9090:9090
    links:
      - cadvisor:cadvisor
      - alertmanager:alertmanager
    depends_on:
      - cadvisor
    networks:
      - back-tier
    restart: always

  alertmanager:
    image: "{{ monitoring_alertmanager_image }}"
    ports:
      - "{{ monitoring_listen_address }}:9093:9093"
    volumes:
      - "{{ monitoring_config_alertmanager_dir }}:/etc/alertmanager/:ro"
{% if  monitoring_matrix_enabled %}
    links:
      - matrix-alertmanager
{% endif %}
    networks:
      - back-tier
    restart: always
    command:
      - '--cluster.listen-address=' # disables clustering
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
{% if monitoring_alertmanager_external_url is defined %}
      - '--web.external-url={{ monitoring_alertmanager_external_url }}'
{% endif %}
  cadvisor:
    image: google/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 127.0.0.1:8080:8080
    networks:
      - back-tier
    restart: always
    deploy:
      mode: global

  grafana:
    image: "{{ monitoring_grafana_image }}"
    user: "104"
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - "{{ monitoring_config_grafana_provisioning_dir }}:/etc/grafana/provisioning/:ro"
    environment:
      GF_SECURITY_ADMIN_USER: "{{ monitoring_grafana_user }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ monitoring_grafana_pass }}"
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_SMTP_ENABLED: "true"
      GF_SMTP_HOST: "{{ monitoring_smtp_host_port }}"
      GF_SMTP_USER: "{{ monitoring_smtp_user}}"
      GF_SMTP_PASSWORD: "{{ monitoring_smtp_password }}"
      GF_SMTP_FROM_ADDRESS: "{{ monitoring_smtp_from_address }}"
      GF_SERVER_DOMAIN: "{{ monitoring_domain }}"
      VIRTUAL_HOST: "{{ monitoring_domain }}"
      LETSENCRYPT_HOST: "{{ monitoring_domain }}"
      LETSENCRYPT_EMAIL: "{{ monitoring_letsencrypt_email }}"
    networks:
      - back-tier
      - front-tier
    restart: always

{% if  monitoring_matrix_enabled %}
  matrix-alertmanager:
    image: {{ monitoring_matrix_alertmanager_image }}
    networks:
      - back-tier
    ports:
      - 3000
    environment:
      APP_PORT: 3000
      APP_ALERTMANAGER_SECRET: "{{ monitoring_matrix_shared_secret }}"
      MATRIX_HOMESERVER_URL: "{{ monitoring_matrix_homeserver}}"
      MATRIX_ROOMS: "{{ monitoring_matrix_room }}"
      MATRIX_TOKEN: "{{ monitoring_matrix_token }}"
      MATRIX_USER: "{{ monitoring_matrix_user }}"
    restart: always
{% endif %}
{% if  monitoring_sigarillo_enabled %}
  sigarillo:
    image: "{{ monitoring_sigarillo_image }}"
    restart: ${RESTART}
    depends_on:
      - sigarillo-postgresql
    links:
      - sigarillo-postgresql
    environment:
      SECRETS: "{{ monitoring_sigarillo_secrets }}"
      DB_CONNECTION: "postgres://sigarillo:{{ monitoring_sigarillo_db_pass }}@sigarillo-postgresql:5432/sigarillo"
      NODE_ENV: production
  sigarillo-postgresql:
    image: postgres:9.6
    restart: ${RESTART}
    volumes:
      - sigarillo-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "{{ monitoring_sigarillo_db_pass }}"
      POSTGRES_USER: sigarillo
      POSTGRES_DB: sigarillo
{% endif %}
